<!DOCTYPE html>
<html lang="hu">
<!-- hello -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- -->
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <title>Önálló laboratórium - Thread vezérlőpult</title>
</head>

<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
          <img src="./img/thread_icon.svg" alt="logo" width="24" height="24" />
          <div class="mx-1"></div>
          <a class="navbar-brand" href="/"> Főoldal </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          {% if isUserThere %}

          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Thread
                  </a>
                  <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">

                      {% if existThreadNetwork %}
                      <li>
                          <a class="dropdown-item" href="#">Delete Thread Network</a>
                      </li>

                      {% else %}
                      <li>
                          <a class="dropdown-item" href="#">Add Thread network to user</a>
                      </li>

                      {% endif %}
                      <li>
                          <a class="dropdown-item" href="#">Add new device to Thread network</a>
                      </li>
                      <li>
                          <a class="dropdown-item" href="#">Remove existing device from Thread network</a>
                      </li>
                  </ul>
              </li>
          </ul>
          <!--  -->
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      User
                  </a>
                  <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li>
                          <a class="dropdown-item" href="/modifyuserdata">Modify user data</a>
                      </li>
                      <li>
                          {% if userHasPlace %}
                          <a class="dropdown-item" href="/modifyuserplace">Modify user place</a>
                          {% else %}
                          <a class="dropdown-item" href="/adduserplace">Add user place</a>
                          {% endif %}
                      </li>
                      <li>
                          {% if userHasHeatmap %}
                          <a class="dropdown-item" href="#">Modify heatmap</a>
                          {% else %}
                          <a class="dropdown-item" href="#">Add heatmap</a>
                          {% endif %}
                      </li>
                  </ul>
              </li>
              <li class="nav-item">
                  {% if userHasHeatMap %}
                  <a class="nav-link" href="#">Hőtérkép</a>
                  {% else %}
                  <a class="nav-link disabled" href="#">Hőtérkép</a>
                  {% endif %}
              </li>
          </ul>
          {% endif %}

          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              {% if isUserThere %}
              <a href="/controlPanel" class="btn btn-outline-primary" role="button" aria-pressed="true">Control
                  panel</a>
              <div class="mx-1"></div>
              <a href="/logout" class="btn btn-secondary active" role="button" aria-pressed="true">Log out</a>
              {% else %}
              <a href="/login" class="btn btn-primary active" role="button" aria-pressed="true">Log In</a>
              <div class="mx-1"></div>
              <a href="/register" class="btn btn-secondary active" role="button" aria-pressed="true">Sign Up</a>
              {% endif %}
          </div>
      </div>
  </nav>
</header>

<script>
  function onChange() {
    const password = document.querySelector("input[name=password]");
    const confirm = document.querySelector("input[name=passwordAgain]");
    if (password.value === "") {
      password.setCustomValidity("Password missing!");
      return;
    } else if (password.value.length < 5) {
      password.setCustomValidity(
        "Password must be more than 5 characters long!"
      );
      return;
    } else if (confirm.value === password.value) {
      confirm.setCustomValidity("");
    } else {
      confirm.setCustomValidity("Passwords do not match");
    }
  }

  function usernameCheck() {
    const username = document.querySelector("input[name=username]");
    if (username.value === "") {
      username.setCustomValidity("Please don't let empty!");
      return;
    } else if (username.value.length < 5) {
      username.setCustomValidity(
        "Username must be more than 5 characters long!"
      );
      return;
    }
    const usernameRegex = /^[a-zA-Z0-9]+$/.exec(username);
    if (usernameRegex.value === username.value) {
      username.setCustomValidity("");
    } else {
      username.setCustomValidity(
        "Username only can contain small and capital letters with numbers!"
      );
    }
  }

  function nameCheck() {
    const name = document.querySelector("input[name=name]");
    if (name.value == "") {
      name.setCustomValidity("Please don't let empty!");
      return;
    }
    const usernameRegex = /^[a-zA-Z]/.exec(name);
    if (usernameRegex.value === name.value) {
      name.setCustomValidity(
        "Name only can contain small and capital letters!"
      );
    }
  }
</script>

<body>
  <div class="jumbotron text-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
      <div class="my-5"></div>
      <h1 class="display-4">
        <div class="ml-auto"></div>
        <img src="img/thread_icon.svg" alt="logo" width="100" height="100" /><br />
        MM Thread Sign-Up
        <div class="ml-auto"></div>
      </h1>
    </div>
  </div>
  <div class="jumbotron">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
      {% if error %}
      <h6 class="text-danger">Username has been already used!</h6>
      {% endif%}
      <form action="/register" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input required type="username" class="form-control" id="username" name="username" placeholder="Enter username"
            onchange="usernameCheck()" oninput="this.setCustomValidity('')" />
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input required type="name" class="form-control" id="name" name="name" placeholder="Enter your name"
            onchange="nameCheck()" oninput="this.setCustomValidity('')" />
        </div>

        <div class="form-group">
          <label for="emailAddress">Email address</label>
          <input required type="email" class="form-control" id="emailAddress" name="emailAddress" aria-describedby="emailHelp"
            placeholder="Enter email" oninvalid="this.setCustomValidity('Please use valid email address!')"
            oninput="this.setCustomValidity('')" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required type="password" class="form-control" id="password" name="password" placeholder="Enter password"
            onChange="onChange()" oninput="this.setCustomValidity('')" />
        </div>
        <div class="form-group">
          <label for="passwordAgain">Repeat password</label>
          <input required type="password" class="form-control" id="passwordAgain" name="passwordAgain"
            placeholder="Enter password again" onChange="onChange()" oninput="this.setCustomValidity('')" />
        </div>
        <div class="my-3"></div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>
</body>
<footer class="footer sticky-bottom">
  <div class="my-3"></div>
  <div class="text-center p-3 bg-light">©Mihalik Márk 2021</div>
</footer>

</html>